
Facial Recognition Spreads as Tool to Fight Shoplifting - The New York Times.pdf
Labs and Code/*
Lecture Slides/*
Project/kaggle.json
Project/model performance.docx
Project/output/convnet.png
Project/Suggested Presentation Structure from ChatGPT.docx
Project/Pistachio Image Classification Presentation.pptx
*.png
Project/(old deck) Final_Presentation_test.mp4
